<header>
  <h2>Operations on Database table</h2>
  <nav>
    <ul>
      <li><i class="fab fa-adn"></i><a href="/add">Add</a></li>
      <li><a href="/view">View</a></li>
      <li><a href="/delete">delete</a></li>
      <li><a href="/update">update</a></li>
    </ul>
  </nav>
</header>