<header>
  <h2>Operations on Database table</h2>
    <div class="btn-group">
        <button id="add" onclick="addtotable()">Add</button>
        <button id="edit">Edit</button>
        <button id="view"> View</button>
        <button id="Delete">Delete</button>
      </div>
</header>