
<div class="input">
    <label for="title1">Title</label>
    <input type="text" name="title" id="title1">
</div>
<div class="input">
    <label for="summary1">Summary</label>
    <textarea name="summary" id="summary1" cols="30" rows="10"></textarea>
</div>