<form action="/add" method="POST">
  <div class="container">
    <h2 class="h2"> Add a New Member</h2>
    <%- include('_form_fields') %>
    <div id="addbuttons">
      <a id="canceladd" href="/">Cancel</a>
      <button type="submit">Add</button>
    </div>
  </div>
</form>