
<form action="/delete" method="POST">
    <div class="container">
        <h2>Delete an existing Member</h2>
        <label for="teamid"> <span id="spanid">ID&nbsp;</span>
            <select name="teamid" id="teamid" style="width:60px;">
               <% ids.forEach(id => { %>
                <option class="option" value="<%= id.ID %>"> <%= id.ID %>  </optiion>
               <% }); %>
            </select>
        </label>
        <button type="submit" onclick="printMsg()">Delete</button>
        <p id="msg"></p>
    </div>
</form>

<script>
    function printMsg(){
        let e = document.getElementById("teamid");
        let selectedValue = e.options[e.selectedIndex].value;
        document.getElementById('msg').innerText = 'Record with ID '+ selectedValue +' has been deleted'
    }
</script>