
body{
  background-image: url("../pictures/plain-white-blurred-background-vector.jpg");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: cover;
  text-align: center;
  margin: 0;
  color: black;
}

h2{
  font-family: cursive;
  margin: 0;
  color: black;
  
}

header{
  background-image: url("../pictures/header.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

nav{
  text-align: center;
  font-size: 1.1em;
  font-weight: lighter;
  border-bottom: 1px solid rgba(255, 255, 255, .3)
}

li {
  display: inline;
  font-weight: bold;
}

ul {
  margin: 0;
}

a:hover {
  background-color: rgba(255, 255, 255, .3)
}

a {
  display: inline-block;
  padding: .5em;
  color: bisque;
  text-decoration: solid;
}

.view{
  color: black;
  border: 5px outset red;
  background-color: lightblue;    
  text-align: center;
  width: 50%;
  margin:auto;
}

.div-table {
  display: table;         
  border: 1px solid 6;         
  width: 100%;
}
.div-table-row {
  display: table-row;
  width: auto;
  clear: both;
}

.div-table-row-head{
  display: table-row;
  width: auto;
  clear: both;
  background-color: bisque ;
  margin:auto;
  border-bottom: 1px solid #666666;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;

}
.div-table-col {
  float: left; /* fix for  buggy browsers */
  display: table-column;
}

#container{
  width: 40%;
  margin: auto;
  position: relative;
  top: 2em;
}

label{
  display: block;
  width: 50%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 5px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 500;
  color: teal;
}

#h2add{
  width: 20%;
  margin: 20px auto;
}

#canceladd{
  text-decoration: none;
  border: 2px solid gray;
  color: blue;
  background-color: wheat;
  border-radius: 0.5em;
}

#canceladd:hover{
  background-color: snow;
}

#buttonadd{
  border: 2px solid gray;
  color: blue;
  background-color: wheat;
  border-radius: 0.5em;
  padding: 9px 4px;
  cursor: pointer;
}

#buttonadd:hover{
  background-color: snow;
}

#addbuttons{
  padding: 10px 10px;
}