.btn-group button {
    background-color: #4CAF50; /* Green background */
    border: 1px solid green; /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: center; /* Float the buttons side by side */
    margin-right: auto;
  }
  
  .btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
  }
  
  /* Clear floats (clearfix hack) */
  .btn-group:after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Add a background color on hover */
  .btn-group button:hover {
    background-color: #3e8e41;
  }

  .btn-group {
    position: center;
  }

  body{
    background-image: url("../pictures/plain-white-blurred-background-vector.jpg");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: cover;
    text-align: center;
  }

  h2{
    font-family: cursive;
  }